// https://zellij.dev/documentation/layouts.html

layout {
	pane {
		command "python"
		args "rest-server.py" "-k" "4" "-l" "2" "-m" "raid1"
		close_on_exit false
		start_suspended false
		name "rest-server"
		size "60%"
	}
	pane split_direction="vertical" {
		pane {
			command "python"
			args "storage-node.py" "storage-node0"
			name "storage-node0"
			close_on_exit false
		}
		pane {
			command "python"
			args "storage-node.py" "storage-node1"
			name "storage-node1"
			close_on_exit false
		}
	}
	pane split_direction="vertical" {
		pane {
			command "python"
			args "storage-node.py" "storage-node2"
			name "storage-node2"
			close_on_exit false
		}
		pane {
			command "python"
			args "storage-node.py" "storage-node3"
			name "storage-node3"
			close_on_exit false
		}
	}
}


keybinds {
    shared {
           bind "Ctrl c" { CloseTab; }
    }
}