// https://zellij.dev/documentation/layouts.html

layout {
	pane {
		command "python"
		args "rest-server.py" "-k" "2" "-l" "2" "-m" "raid1"
		close_on_exit false
		start_suspended false
		name "rest-server"
		size "75%"
	}
	pane split_direction="vertical" {
		pane {
			command "python"
			args "storage-node.py" "storage0"
			name "storage0"
			close_on_exit true
		}
		pane {
			command "python"
			args "storage-node.py" "storage1"
			name "storage1"
			close_on_exit true
		}
		pane {
			command "python"
			args "storage-node.py" "storage2"
			name "storage2"
			close_on_exit true
		}
		pane {
			command "python"
			args "storage-node.py" "storage3"
			name "storage3"
			close_on_exit true
		}
	}
}
