// https://zellij.dev/documentation/layouts.html

layout {
	pane split_direction="vertical" {
		pane {
			command "poetry"
			args "run" "python" "rest-server.py" "-k" "4" "-l" "1" "-m" "task2.1"
			close_on_exit false
			start_suspended false
			name "rest-server"
			size "60%"
		}
		pane {
			name "client"
			// close_on_exit true
		}
	}
	
	pane split_direction="vertical" {
		pane split_direction="horizontal" {
			pane {
			command "poetry"
			args "run" "python" "storage-node.py" "storage0"
			name "storage0"
			// close_on_exit true
		}
		pane {
			command "poetry"
			args "run" "python" "storage-node.py" "storage1"
			name "storage1"
			// close_on_exit true
		}
		}

		pane split_direction="vertical" {
		pane {
			command "poetry"
			args "run" "python" "storage-node.py" "storage2"
			name "storage2"
			// close_on_exit true
		}
		pane {
			command "poetry"
			args "run" "python" "storage-node.py" "storage3"
			name "storage3"
			// close_on_exit true
		}
	}
		}
		

}

keybinds {
    shared {
        bind "Ctrl q" { CloseTab; }
    }
}
